# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

#### Here is the list of some of the popular languages that Data Scientists use:

1. Python 
2. R
3. Julia
4. C/C++
5. Scala
6. SQL
7. JavaScript

#### Here is the list of some of the popular Libraries that Data Scientists use:

1. PANDAS 
2. Numpy
3. MatplotLib
4. Seaborn
5. Scikit-learn
6. Scipy
7. Keras
8. TensorFlow
10. PyTorch
11. GG2
12. Vegas

#### Development Environment open source Datascience Tools:

| Data Science Tools |
|--------------------|
|1. R Studio         |
|2 Apache Spark     |
|3 TensorFlow       |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives of this Exercise:**

- Working with Jupyter Notebook
- Adding Markdown Cells
- Working with Markdown Commands i.e Headings, Lists, Columns
- Arithematic Operation in Python
- Sharing this Notebook to GitHub

## Author Details

Name: Muhammmad Manazir Akbar